<p-menubar >
  
<p-button type="button" class="p-mr-2" (click)="visibleSidebar1 = true" ><i class="pi pi-align-justify"></i></p-button>
    
</p-menubar>
<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
  <div class="header">
    <div class="header-left">
      <a class="active" routerLink="/home">Home</a>
      <a routerLink="/category">Category</a>
      <a routerLink="/register" *ngIf= "!_authService.isLoggedIn()">Register</a>
      <a routerLink="/login" *ngIf = "!_authService.isLoggedIn()">Login</a>
      <a *ngIf = "_authService.isLoggedIn()" (click)="loggedout()">LogOut</a>
      <p> {{_authService.currentUser}}</p>
    </div>
  </div>
</p-sidebar>
<router-outlet></router-outlet>